


$white: #FFFFFF;
$black: #000000;
$grey0: #dadce0;
$red0: #d93025;


/* $font-8: normal normal normal 8px arial; */
/* $font-20: normal normal normal 20px arial; */
/* $font-18-00: normal normal 500 18px Roboto; */
/* $font-20-500: normal normal 500 20px Roboto; */
/* #font-24-500: normal normal 500 24px Roboto; */


